 {% extends "@EasyAdmin/layout.html.twig" %}


{% block content %}
<style>
  .btn-sm{ border: 1px solid; width: 100%; height: 50px; background: #4284a9; border: none;
          color: #f8f8f6; font-family: Lora; margin-top: 50px;transition: 0.2s;}
  .btn-sm:hover{ background: #f8f8f6; border: 2px solid #4284a9; color: #4284a9;}
</style>
<div class="row">

  
    <div class="card col-md-4" style="width: 18rem;">
        <img class="card-img-top" src="" alt="">
        <div class="card-body">
            <h5 class="card-title"> </h5>
            <p class="card-text"></p>
            <p class="card-text">auteur: et parution:</p>
            <a href="#" class="btn-sm"> Disponible</a>
    </div>
</div>
    



{% endblock %}